<nav aria-label="breadcrumb" class="mt-3 mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Categories</li>
    <li class="breadcrumb-item active">Categories Form</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Categories Form
    </h1>
  </div>
  <div class="col-md">
    <a class="btn btn-success float-right" [routerLink]="['/categories']" routerLinkActive="router-link-active" >
      << Voltar
    </a>
  </div>
</div>

<form>
  <div class="card">
    <div class="card-header">
      Data about category:
    </div>
  </div>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name">
      </div>

      <div class="form-group col-md-8">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description">
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success btn-lg float-right mt-3">Save</button>
</form>